body {background-color: #000000;}
.h1 {font-size: 20px; font-family: arial; color: #FFFFFF}
h2 {font-size: 16px; font-family: arial; color: #FFFFFF}
.p {font-size: 16px; font-family: arial; color: #FFFFFF}
th {font-family: arial; color: #FFFFFF; text-align: left}
.td {font-family: arial; color: #FFFFFF}
br {font-size: 8px; height: 30px; width: 120px;}
select {font-size: 16px; height: 30px; width: 120px;}
input {font-size: 16px; height: 30px; width: 120px;}
button {font-size: 16px; height: 30px; width: 120px;}
table {border-style: solid;}
.text-klein {text-align:center; font-size: 24px; font-family: arial; color: #FFFFFF;}
.serien{font-size: 20px; font-family: akbar_plain; color: #FFFFFF}
.wetterergebnis{font-family: arial; color: #FFFFFF; display: left;}
ul {list-style-type:none; margin: 0; padding: 0;}
option {font-family: arial; color: #FFFFFF}
.wetterIcon{height: 80px; width: 70px; display: none;}
.icon{vertical-align: top;}
.wettertabelle{border-style: none;}

[class*="col-"] {width: 100%;}
@media (max-width:768px){.h1 {font-size: 30px; font-family: arial; color: #FFFFFF}}
@media (max-width:768px){.p {font-size: 24px; font-family: arial; color: #FFFFFF}}
@media (max-width:768px){table {font-size: 18px;}}

@media only screen and (min-width: 768px) {
  /* For desktop: */
.h1 {font-size: 40px; text-align: center;}
.mainbuttons{display: flex; justify-content: center; flex-direction: column; align-items: center;}
.button{border-radius: 12px;
		 background-color: #000000;
		 font-family: arial; color: #FFFFFF;
         border: 1px solid;
         color: white;
         padding: 12px 60px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
		 width: 20%;
         cursor: pointer;}
.button:hover {background-color: #404040;}
.wetterbutton{border-radius: 12px;
		 background-color: #000000;
		 font-family: arial; color: #FFFFFF;
         border: 1px solid;
         color: white;
         padding: 12px 60px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
		 width: 20%;
         cursor: pointer;}
.wetter{font-size: 22px; padding: 16px 0 40px 0;; font-family: arial; color: #FFFFFF;}
article {color: #FFFFFF;}
		
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
	.mainbuttons{display: flex; justify-content: center; flex-direction: column; align-items: center;}
	.button{border-radius: 12px;
		 background-color: #000000;
         border: 1px solid;
         color: white;
         padding: 12px 60px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
		 width: 66.66%;
         cursor: pointer;}
	.button:active {background-color: #404040;}
	.wetterbutton{border-radius: 12px;
		 background-color: #000000;
         border: 1px solid;
         color: white;
         padding: 12px 60px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
		 width: 96%;
         cursor: pointer;}
	.h1 {text-align:center;}
	.text-klein {font-size: 16px; font-family: arial; color: #FFFFFF;}
	.wetter{font-size: 22px; padding: 9px 0 40px 0;; font-family: arial; color: #FFFFFF;}
	.anfang{font-size: 20px;}
    .info{font-size: 14px;}
	.wettertabelle{width: 96%;}
	td {font-size: 16px;}
	/*.col-0 {display:inline;}
	.col-1 {}
	.col-3 {display:none; width: 0%;}
	.col-6 {width: 100%;}*/
	col-12 {width: 100%;}